body {
	background-color:  #ffffff;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

.box {
	width: 30%;
	background: blue;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 21%;
	transition: background 0.5s;
	
}

#boxes {
	margin: 20px auto;
	max-width: 500px;
}

h1 {
	text-align: center;
	font-weight: normal;
	color: white;
	background: blue;
	margin: 0; 
	padding-top: 20px;
	padding-bottom: 20px;
}

#colorDisplay {
	font-size: 200%;
	position: sticky;
}

#navigation {
	background: white;
	height: 30px;
	text-align: center;
	color: black;
	position: sticky;
}

.select {
	color: white;
	background: blue;
}

button {
	border: none;
	background: none;
	height: 100%;
	font-weight: 700;
	color: blue;
	font-size: inherit;
	transition: all 0.5s;
}

#result {
	display: inline-block;
	width: 30%;
}

button:hover {
	color: white;
	background: blue;
}